@import '_variables.scss';
@import '_mixins.scss';

.banks {

    &__map {
        height: 728px;
    }

}

.marker {
    display: block;
    width: 35px;
    height: 55px;

    position: relative;
    transform: translate(-50%, -50%);
}

//**************************************//
//************  1200 *******************//
//**************************************//
@media (max-width: 1200px) {

}

//**************************************//
//************  922 *******************//
//**************************************//
@media (max-width: 922px) {

    .banks {

        &__title {
            padding-top: 25px;
            padding-bottom: 30px;
        }
    }

}

//**************************************//
//************  576 *******************//
//**************************************//
@media (max-width: 576px) {

}

//**************************************//
//************  320 *******************//
//**************************************//
@media (max-width: 320px) {

}
