// Colors
// ################################

// Brand Color
$primaryColor: #116ACC;
$secondaryColor1: #182233;
$secondaryColor2: #B3CEE2;
$secondaryColor3: #D9DDE7;
$secondaryColor4: #FD4E5D;

// Gray Color
$blackColor: #000000;
$grayColor1: #1F2937;
$grayColor2: #374151;
$grayColor3: #4B5563;
$grayColor4: #6B7280;
$grayColor5: #9CA3AF;
$grayColor6: #D1D5DB;
$grayColor7: #F3F4F6;
$whiteColor: #FFFFFF;

// State colors
$infoColor: #A0C3FF;
$successColor: #76CA66;
$warningColor: #FBC756;
$errorColor: #BA0000;

// Gradient
$bgHoverOutlineBtn: #A0C3EB;
$bgActiveOutlineBtn: #CFE1F5;
